<?xml version='1.0' encoding='utf-8'?>
<widget id="se.lnu.apd.client" version="0.0.1" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Swedish Racetracks</name>
  <description>
    Swedish RaceTrack is an application to keep you update about horse-race events. You can select your racetrack and receive notification about your favorite tracks. No registration needed, we only get your email address to know about your favorite tracks.
  </description>
  <author email="engineering@travappar.se" href="Travappar.se">
    Travappar.se
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <icon src="resources/icon.png"/>
  <splash src="resources/splash.png"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png"/>
  </platform>

  <preference name="SplashScreenDelay" value="100"/>
  <engine name="ios" spec="~3.9.2"/>
  <engine name="android" spec="~4.1.1"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <plugin name="cordova-plugin-device" spec="~1.0.1"/>
  <plugin name="com.ionic.keyboard" spec="~1.0.4"/>
  <plugin name="cordova-plugin-splashscreen" spec="~2.1.0"/>
  <plugin name="onesignal-cordova-plugin" spec="~1.10.1"/>
  <plugin name="cordova-plugin-crosswalk-webview" spec="~1.2.0"/>
</widget>
