/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light: #eee !default;
$stable: #007831 !default;
$positive: #eeba30 !default;
$calm: lighten($positive, 10%) !default;
$balanced: #66cc33 !default;
$energized: #740001 !default;
$assertive: #ae0001 !default;
$royal: darken($energized, 10%) !default;
$dark: #444 !default;
// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;
// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";
// stylings
.eventlist {
  .poster {
    display: block;
    width: 100vw;
    height: 20vh;
    object-fit: cover;
  }
}

//general item styling
.item.item-divider{
  background-color: $royal;
  color:$light;
}
.item.item-text-wrap{
  background-color: $positive;
  border:solid!important;
    border-radius: 5%;
}
.item.item-icon-right{
  background-color: $calm;
  border:solid!important;
    border-radius: 5%;
}
.side-menu-content{
  background-color: $royal;
  .menu-list{
    background-color: $calm;
  }
}
.bar-royal{
  border:solid!important;
  .title{
    color:white !important;
      font-size:25px !important;
      font-weight:200 !important;
  }
}
.list.card{
  background-color: $dark;
}
