<ion-view view-title="Config view">
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>

      <ion-item class="item item-divider">
        Stuff
      </ion-item>
      <ion-item>
        <a ng-click="openRacetracksModal()">Select your racetracks</a>
      </ion-item>
      <ion-item>

        <a ng-click="openEmailModal()">Register Your E-mail</a>

      </ion-item>
      <ion-item>
        Bla
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>



<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Select your tracks</h1>
    </ion-header-bar>
    <ion-content>
      <div class="tracklist">
        <ion-checkbox ng-repeat="thema in themen track by $index" type="checkbox" id="{{thema.id}}" ng-model="thema.checked" ng-change="updateThemaLocalStorage($index)" ng-checked="{{getCheck($index)}}">
          {{ thema.name }}
        </ion-checkbox>
      </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="closeModal()">
      <div class="title">Done !</div>
    </div>

  </ion-modal-view>
</script>

<script id="my-email-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="bar bar-header bar-balanced">
        <div class="title"></div>
        <h1 class="title">Register your E-mail</h1>
      </div>
    </ion-header-bar>
    <ion-content>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="closeeEmailModal()">
      <div class="title">Done !</div>
    </div>
  </ion-modal-view>
</script>
