<ion-view view-title="Config view">
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item class="item item-icon-left">
        <i class="icon ion-ios-toggle"></i>
        <span ng-click="openRacetracksModal()">Select your racetracks</span>
      </ion-item>
      <ion-item class="item item-icon-left">
        <i class="icon ion-email"></i>
        <span ng-click="openEmailModal()">
        Register Your E-mail
      </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Select your tracks</h1>
    </ion-header-bar>
    <ion-content>
      <ion-checkbox ng-checked="isChecked(racetrack.id)" id="{{racetrack.id}}" ng-repeat="racetrack in racetracks | orderBy:'name'" type="checkbox">
        {{ racetrack.name }}
      </ion-checkbox>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="saveRacetracks()">
      <div class="title">Done !</div>
    </div>

  </ion-modal-view>
</script>

<!--Email Modal for User Email registartion-->
<script id="my-email-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="bar bar-header bar-positive">
        <div class="title"></div>
        <h1 class="title">Register your E-mail</h1>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="emailField" type="text" placeholder="Email">
        </label>
      </div>
    </ion-content>
<div class="bar bar-footer bar-positive" ng-click="saveEmail()">>
      <div class="title">Submit</div>
    </div>
  </ion-modal-view>
</script>
