<ion-view view-title="Race events">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh..." spinner="ripple"></ion-refresher>
    <div class="eventlist">
      <ion-list class="animate-blinds">
        <ion-item class="item" ng-repeat="event in events track by event.id" ui-sref="main.eventDetail({event:event})">
          <h2>In {{::event.track.name}}</h2>
          <p>
            {{::event.highlight}}
          </p>
          <span am-time-ago="event.date"></span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
