<ion-view view-title="Race events">
  <ion-content>
    <div class="eventlist">

      <img alt="" class="poster" src="main/assets/images/horseracing.jpg"/>

      <!-- list iterating on the array of events,
    for each event add a list-item directive element with the current iterated
    event in parameters-->
      <ion-list>
        <event-item event="event" ng-repeat="event in events" ng-if="selectedRacetrack(event.track.id)"></event-item>
      </ion-list>
    </div>

  </ion-content>

</ion-view>
