<ion-view view-title="Event detail">

  <ion-content>

    <div class="list card">

      <div class="item">
        <h2>{{event.name}}
          in
          {{event.track.name}}</h2>
        <p>{{event.highlight}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="main/assets/images/stockholm.jpg">
        <p>
          {{event.homeTeam}}
        </p>
      </div>

      <div class="item item-text-wrap">
        <h2>Today's offer</h2>
        <div class="row">
          <div class="col col-50"><img src="{{getOfferImageAddress(event.offerImage)}}" style="width: 100%; height: auto;"></div>
          <div class="col-50">{{event.offer.description}}</div>
        </div>
      </div>


      <div class="item item-text-wrap">
        <h2>Start list</h2>
        {{event.startList}}
      </div>

      <div class="item item-text-wrap">
        <h2>Today's highlight</h2>
        {{event.todayHighlights}}
      </div>

      <div class="item item-text-wrap">
        <h2>Today's Home Team</h2>
        {{event.todayHomeTeam}}
      </div>

      <div class="item item-text-wrap">
        <h2>Racing Calendar</h2>
        {{event.racingCalendar}}
      </div>

      <div class="item item-text-wrap">
        <h2>About The Track</h2>
        {{event.aboutTheTrack}}
      </div>

    </div>
  </ion-content>

</ion-view>
