<ion-view view-title="Race details">

  <ion-content>
    <div class="event-details">
      <div class="header">
        <div class="overlay"></div>
        <h1>Race number
          {{race.number}}</h1>
      </div>
      <div class="sub-header">
        <span style="padding-left: 40px;">{{race.startTime | amDateFormat:'dddd, MMMM Do, h:mm a'}}</span>
        <br>
        <i class="ion-android-time"></i>
        <span am-time-ago="race.startTime"></span>
      </div>

      <div class="highlight">
        {{::race.information}}
      </div>

      <div class="section-title">
        <h2>Short informations</h2>
      </div>
      <div class="section-content">
        {{::race.shortInformations}}
      </div>
      <div class="section-title">
        <h2>Reserv. Order</h2>
      </div>
      <div class="section-content">
        {{::race.reservOrder}}
      </div>
      <div class="section-title">
        <h2>Horses running</h2>
      </div>

      <ion-list class="animate-blinds">
        <ion-item class="item race" ng-repeat="horse in race.startList track by horse.id">
          <div class="race-header">
            <strong class="left">{{horse.horse}}</strong>
            <strong class="right">
              <i class="icon ion-pound"></i>
              &nbsp;{{::horse.startNumber}}</strong>
          </div>

          <br>
          <p>
            Driver :
            {{::horse.driver}}
            <br>
            Trainer :
            {{::horse.trainer}}
          </p>
          <div class="footer ">
            <div class="left">
              <i class="ion-ribbon-b"></i>
              &nbsp;
              {{::horse.totalWinnings}}
            </div>
            <div class="right">
              <i class="icon ion-female assertive" ng-if="horse.sex == 'S'"></i>
              <i class="icon ion-male positive" ng-if="horse.sex == 'V' || horse.sex == 'H'"></i>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </ion-view>
