<ion-view view-title="Welcome ! ">
    <div class="racetrack-select">


  <ion-content>
    <div class="item">
      <h2>Hey !</h2>
      <p>Thank you for downloading this app ! </p>
      <p>
        Please select the racetracks you're interested in :
        <br>
        (You can still edit them afterwards in the settings page)
      </p>
    </div>

      <div class="track" ng-checked="isChecked(racetrack.id)" ng-repeat="racetrack in racetracks | orderBy:'name'">
        <input id='{{::racetrack.id}}' ng-checked="isChecked(racetrack.id)" type='checkbox'/>
        <label for='{{::racetrack.id}}'>
          <span></span>
          {{::racetrack.name}}
          <ins>
            <i>{{::racetrack.name}}</i>
          </ins>
        </label>
      </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="saveRacetracks()">
      <i class="title icon ion-checkmark"></i>
    </div>
    <div class="error">
      <div class="title">Please select at least one :(</div>
    </div>
  </div>
</ion-view>
